@charset "UTF-8";

@font-face {
  font-family: "Circle-Regular";
  font-display: swap;
  src: url("../fonts/Circle-Regular.woff") format("woff"), url("../fonts/Circle-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "plumb-medium";
  font-display: swap;
  src: url("../fonts/plumb-medium.woff") format("woff"), url("../fonts/plumb-medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: absolute;
  padding: 28px 0 33px 0;
  border-bottom: 1px solid #e5e5e5;
  max-height: 86px;
}

.header--fixed {
  background-color: #a4a4a4;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  left: 0;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  padding: 25px 0;
}

.header__container {
  width: 100%;
  max-width: 1590px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__nav {
  margin: 0 10px;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  padding-right: 43px;
}

.nav__link:last-child {
  padding: 0;
}

.nav__link a {
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  line-height: 21.6px;
  font-family: "Circle-Regular";
  text-align: center;
}

.nav__link a:hover {
  color: #ffc41e;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.language__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__button {
  margin-right: 70px;
}

.language__title {
  padding-left: 31px;
  background: url(../img/Globe.png) left no-repeat;
  cursor: pointer;
}

.language__title a {
  line-height: 21px;
  font-family: "Circle-Regular";
  font-family: 16px;
  color: #fff;
  font-weight: 400;
  top: 30%;
}

.language__title a:hover {
  color: #ffc41e;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.burger:focus {
  outline: 0;
}

.burger__inner {
  display: none;
}

.burger__inner.active span {
  display: none;
}

.burger__inner.active::before {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-2px);
      -ms-transform: rotate(45deg) translateX(-2px);
          transform: rotate(45deg) translateX(-2px);
}

.burger__inner.active::after {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(-45deg) translateX(-5px);
      -ms-transform: rotate(-45deg) translateX(-5px);
          transform: rotate(-45deg) translateX(-5px);
}

.burger__menu {
  position: absolute;
  left: -100%;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
  top: 100%;
}

.burger__menu.active {
  top: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
  text-align: center;
}

.burger__menu-link {
  padding-top: 3px;
}

.burger__menu-link a {
  z-index: 5000;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  line-height: 21.6px;
  font-family: "Circle-Regular";
  text-align: center;
}

.burger__menu-link a:hover {
  color: #ffc41e;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.burger__link {
  font-weight: 400;
  color: #fff;
  padding: 5px 0;
  font-size: 16px;
  line-height: 21.6px;
  font-family: "Circle-Regular";
  background-color: #a4a4a4;
  padding-left: 20px;
}

.burger__link:hover {
  color: #ffc41e;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.search__menu {
  position: absolute;
  left: -100%;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
  top: 100%;
}

.search__menu.active {
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
  padding-top: 20px;
  left: 0;
  background-color: #a4a4a4;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.search__form {
  text-align: center;
}

.search__input {
  padding: 10px;
}

.form__button {
  padding: 10px;
}

.footer {
  background-color: #30BCC9;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0 70px 0;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin-bottom: 40px;
}

.footer__item-title {
  font-family: "plumb-medium";
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;
  color: #fff;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

.footer__item-link {
  font-family: "Circle-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
}

.footer__item-link a {
  color: #fff;
}

.footer__item-link a:hover {
  color: #FFC41E;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer__item__subtitle {
  font-family: "Circle-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  margin-bottom: 25px;
}

.item-social {
  margin-bottom: 30px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link {
  margin-right: 30px;
}

.social-link:last-child {
  margin: 0;
}

.footer__item-input {
  max-width: 255px;
}

.form {
  position: relative;
}

.form::before {
  content: "";
  width: 40px;
  height: 40px;
  background: red url(../img/input.svg) center no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.input {
  height: 40px;
  padding-left: 20px;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1145px;
  margin: 0 auto;
  padding: 0 15px;
}

.intro {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 800px;
  padding-top: 90px;
  background-image: url(../img/intro.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__info {
  font-family: "plumb-medium";
  max-width: 420px;
  padding-top: 184px;
  margin-right: 30px;
}

.info__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 64px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 35px;
}

.info__subtitle {
  font-family: "Circle-Regular";
  font-size: 24px;
  color: #fff;
  padding-bottom: 25px;
}

.info__about-link {
  position: relative;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__about-link a {
  font-family: "Circle-Regular";
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  padding-right: 30px;
}

.info__about-link a::before {
  content: "";
  position: absolute;
  background: url(../img/Arrow.svg) 0 0 no-repeat;
  width: 20px;
  height: 20px;
  top: 25%;
  right: 0;
}

.intro__content {
  max-width: 540px;
  padding-top: 304px;
}

.intro__content-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__item {
  width: 255px;
}

.content__item.item-1 {
  background-color: #2378fc;
  margin-right: 30px;
  margin-bottom: 30px;
}

.content__item.item-2 {
  background-color: #30bcc9;
  margin-bottom: 30px;
}

.content__item.item-3 {
  background-color: #ffc41e;
  margin-right: 30px;
}

.content__item.item-4 {
  background-color: #f6404f;
}

.content__item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 1000ms;
       -o-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.item__wrapper {
  padding: 30px 40px;
  width: 175px;
  width: 100%;
}

.content__title {
  font-family: "plumb-medium";
  font-weight: 500;
  font-size: 21px;
  color: #fff;
  padding-bottom: 15px;
}

.content__more {
  position: relative;
  display: inline-block;
}

.content__more a {
  font-family: "Circle-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  padding-right: 30px;
}

.content__more a::before {
  content: "";
  position: absolute;
  background: url(../img/Arrow.svg) 0 0 no-repeat;
  width: 20px;
  height: 20px;
  top: 25%;
  right: 0;
}

.section__info {
  background-color: #2378fc;
}

.info__column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 75px 0px;
}

.info__column-item {
  margin-right: 119px;
}

.info__column-item:last-child {
  margin: 0;
}

.info__column-title {
  font-family: "plumb-medium";
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  line-height: 39px;
  padding-bottom: 26px;
}

.info__link {
  padding-bottom: 15px;
}

.info__link a {
  font-family: "Circle-Regular";
  font-size: 16px;
  color: #fff;
  line-height: 22px;
}

.info__link a:hover {
  color: #ffc41e;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.link-info {
  padding-bottom: 52px;
}

.events {
  background-color: #ffc41e;
}

.events__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0px 55px 0px;
}

.events__title {
  font-family: "plumb-medium";
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
  color: #333;
  letter-spacing: -0.01em;
  margin-right: 15px;
}

.events__link {
  position: relative;
  display: inline-block;
}

.events__link a {
  font-family: "plumb-medium";
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;
  text-decoration: underline;
  color: #333;
  letter-spacing: -0.01em;
  padding-right: 40px;
}

.events__link a::before {
  content: "";
  position: absolute;
  background: url(../img/Arrow-png.png) 0 0 no-repeat;
  width: 30px;
  height: 20px;
  top: 25%;
  right: 0;
}

.events__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.events__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 31%;
          flex: 1 0 31%;
  padding-bottom: 40px;
  margin-right: 30px;
}

.events__item:nth-child(3n) {
  margin: 0;
}

.events__item-img {
  min-width: 300px;
}

.events__item-img a {
  display: inline-block;
}

.events__item-img a img {
  max-width: 100%;
}

.events__item-data {
  font-family: "Circle-Regular";
  font-size: 14px;
  line-height: 19px;
  color: #333;
  font-weight: 400;
  padding: 10px 0px 20px 0px;
}

.events__item-title {
  font-family: "plumb-medium";
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: -0.01em;
  color: #f6404f;
  padding-bottom: 10px;
}

.events__item-subtitle {
  font-family: "Circle-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

.news {
  background-color: #faf3e3;
}

.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__photo {
  margin-right: 125px;
}

.news__photo a {
  display: inline-block;
}

.news__photo a img {
  min-width: 200px;
  max-width: 100%;
}

.photo__item {
  padding: 56px 0px 72px 0px;
  max-width: 100%;
}

.photo__item:last-child {
  padding: 0;
}

.news__items {
  padding-top: 56px;
}

.news__items-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.news__items-title {
  font-family: "plumb-medium";
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
}

.news__items-link {
  position: relative;
  font-family: "plumb-medium";
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;
  text-decoration: underline;
  padding-right: 40px;
}

.news__items-link::before {
  content: "";
  position: absolute;
  background: url(../img/Arrow-png.png) 0 0 no-repeat;
  width: 30px;
  height: 20px;
  top: 25%;
  right: 0;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 530px;
  margin-bottom: 100px;
}

.news__item-content {
  padding-left: 30px;
}

.news__item-data {
  font-family: "Circle-Regular";
  font-size: 16px;
  font-weight: 4;
  line-height: 22px;
  color: #f6404f;
  padding-bottom: 14px;
  padding-top: 10px;
}

.news__item-events {
  font-family: "plumb-medium";
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  color: #333;
  letter-spacing: -0.01em;
}

@media (max-width: 1150px) {
  .intro__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro__info {
    padding-top: 70px;
    margin-right: 0;
    padding-left: 30px;
  }

  .intro__content {
    padding-top: 55px;
    margin: 0 auto;
  }

  .info__column-item {
    margin-right: 50px;
  }

  .events__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .events__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    padding-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .nav__link {
    padding-right: 25px;
  }

  .search__button {
    margin-right: 25px;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .info__column-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0;
  }

  .info__column-item {
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
  }

  .info__column-item:nth-child(2) {
    margin: 0;
  }

  .info__column-item:nth-child(-n+2) {
    padding-top: 25px;
  }

  .events__header {
    padding: 30px 0px 30px 15px;
  }

  .events__item:nth-child(3n) {
    margin-right: 30px;
  }

  .news__wrapper {
    display: block;
  }

  .news__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 35px;
  }

  .news__item:last-child {
    margin-bottom: 0;
    padding-bottom: 35px;
  }
}

@media (max-width: 922px) {
  .events__title {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .search {
    display: none;
  }

  .burger__inner {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .burger__inner span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 8px;
  }

  .burger__inner::before,
  .burger__inner::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    -o-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  }

  .burger__inner::before {
    top: 0;
  }

  .burger__inner::after {
    bottom: 0;
  }

  .footer__item:nth-child(-n+2) {
    padding-top: 20px;
  }

  .events__header {
    padding: 73px 0px 30px 15px;
  }

  .events__item:nth-child(2n) {
    margin: 0;
  }

  .photo__item {
    padding: 85px 0px 35px 0px;
  }
}

@media (max-width: 720px) {
  .events__title {
    font-size: 20px;
  }

  .events__link a {
    font-size: 15px;
  }
}

@media (max-width: 570px) {
  .footer__items {
    padding: 30px 0 30px 0;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
    margin-bottom: 25px;
  }

  .footer__item:nth-child(1) {
    padding-top: 42px;
  }

  .social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__item-input {
    margin: 0 auto;
  }

  .intro__info {
    padding-top: 35px;
    padding-left: 0;
    text-align: center;
  }

  .info__title {
    font-size: 50px;
  }

  .info__title {
    font-size: 50px;
  }

  .intro__content {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .content__item.item-1 {
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .content__item.item-2 {
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .content__item.item-3 {
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .content__item.item-4 {
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .info__column-wrapper {
    padding: 20px 0;
  }

  .info__column-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
    text-align: center;
  }

  .info__column-item:nth-child(1) {
    padding-top: 53px;
  }

  .info__column-item:nth-child(2) {
    padding-top: 0;
  }

  .info__column-title {
    padding-bottom: 15px;
  }

  .link-info {
    padding: 15px;
  }

  .events__header {
    display: block;
  }

  .events__title {
    margin-bottom: 15px;
  }

  .events__item {
    margin: 0;
  }

  .events__item:nth-child(3n) {
    margin: 0;
  }

  .news__photo {
    margin: 0;
  }

  .news__items {
    padding-top: 20px;
  }

  .news__items-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .news__items-title {
    font-size: 25px;
  }

  .news__items-link {
    font-size: 18px;
  }

  .news__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 35px;
  }

  .news__item-photo {
    text-align: center;
  }

  .news__item-data {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .info__title {
    font-size: 40px;
  }

  .news__items-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news__item-events {
    text-align: center;
    font-size: 15px;
  }
}

.webp .language__title{ background: url(../img/Globe.webp) left no-repeat; }

.webp .intro{ background-image: url(../img/intro.webp); }

.webp .events__link a::before{ background: url(../img/Arrow-png.webp) 0 0 no-repeat; }

.webp .news__items-link::before{ background: url(../img/Arrow-png.webp) 0 0 no-repeat; }